<h3>Yeni Ürün Ekle - Reactive</h3>
<form [formGroup]="productAddForm" (ngSubmit)="add()">
    <div class="form-group">
        <input type="text" name="name" id="name" formControlName="name" placeholder="Ürün adı" class="form-control">
        <div class="alert alert-danger"
            *ngIf="productAddForm.get('name').hasError('required') && productAddForm.get('name').dirty">Ürün adı
            giriniz!</div>
    </div>

    <div class="form-group">
        <input type="text" name="description" id="description" formControlName="description" 
            placeholder="Açıklama" class="form-control">
        <div class="alert alert-danger"
            *ngIf="productAddForm.get('description').hasError('required') && productAddForm.get('description').dirty">
            Açıklama giriniz!</div>
    </div>

</form>