<h3 *ngIf="products; else: noProduct">{{title}}</h3>

<div class="mb-3">
    <input 
        class="form-control" 
        id="productName" 
        placeholder="Aranacak ürünü giriniz."
        [(ngModel)]="filterText"
    />
    <small *ngIf="filterText" class="form-text text-muted">Şuan <strong>{{filterText}}</strong> aradınız.>
</div>

<div class="row">

    <ng-template #noProduct>
        <div class="alert alert-primary" role="alert">
            Bu kategoride ürün yoktur.
        </div>
    </ng-template>

    <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product.name | uppercase }} {{product.price | currency:'TRY ':true:"1.2-2"}}</h5>
            <p class="card-text">{{product.description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>